<!DOCTYPE html>
<html>
<head>
  <title>Zeeozee Shop</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
	


<%= yield %>

</body>
</html>


<style type="text/css">
 .sky-form .checkbox input + i:after {
	content: '';
	top: 3px;
	left: 2px;
	width: 10px;
	height: 7px;
	background: url( '<%= asset_path("tick.png") %>') no-repeat;
	text-align: center;
}
</style>